input[type='date'],
input[type='email'],
input[type='text'],
select,
textarea {
    background-color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    font-family: inherit;
    margin: 2px 0;
    padding: 8px;
    width: 100%;
}

input[type='submit']{
    float: right;
}

.backstage-profile-display .presenter-image {
    float: right;
}
.backstage-profile-bio {
    clear: both;
}

.backstage-film {
    padding: 10px 20px;
    overflow: hidden;
}

.backstage-film:nth-child(3n) {
    background-color: lightseagreen;
}
.backstage-film:nth-child(3n + 1) {
    background-color: mediumseagreen;
}
.backstage-film:nth-child(3n + 2) {
    background-color: seagreen;
}

@media (min-width: 620px) {
    .backstage-profile-data {
        float: left;
        width: 50%;
    }
    .backstage-profile-display {
        float: right;
        width: 50%;
    }
}

@media (min-width: 1220px) {
    .backstage-film:nth-child(even) {
        float: left;
        width: 50%;
    }
    .backstage-film:nth-child(odd) {
        float: right;
        width: 50%;
    }
}