@import views.Formatters.formatPublishedDate
@import views.ModelEnhancements._

@(films: Seq[Film])

<div class="presenter-films">
    @films.map { film =>
        <film class="in-grid">
            <a href="@film.path" class="film-image">
                <img src="@film.imageUrl"/>
                <overlay>
                    <div class="film-title">@film.film_name</div>
                    <div class="film-caption">Published @formatPublishedDate(film.film_published_date)</div>
                </overlay>
            </a>
        </film>
    }
</div>