@()
<!-- Begin MailChimp Signup Form -->
<link href="https://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
    <form action="https://wildvision.us6.list-manage.com/subscribe/post?u=c52a134a1921bb948f54fb4b3&amp;id=6f89ecaea6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <p>Please subscribe using the box below, and we'll email you when there's a new film on the site.</p>
        <p>We'll keep these emails to a minimum and you'll be able to unsubscribe when you want to.</p>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
</div>
    <!--End mc_embed_signup-->