@()
@main("About Wildvision.tv", "", "about") {
    <article id="about">
        <h1>About Wildvision.tv</h1>
        <p>Welcome to Wildvision.tv, your home on the web for short wildlife films. This website isn't just about great footage of wildlife - it's also a place to encounter <a href="/presenters/" title="Wildvision.tv Presenters">film makers who are passionate naturalists</a>. Let them introduce you to their favourite subjects and take you on a virtual nature walk. We hope they'll inspire you to head outside and look for the birds, animals and plants they show in these videos.</p>
        <p>We plan to update the site regularly with new films, so if you enjoy them and want to find out when there's a new one, please <a href="/subscribe/" title="Stay up to date with Wildvision.tv">subscribe to our email updates</a>. You can also follow us on Twitter <a target="_blank" href="https://twitter.com/WildvisionTV">@@WildvisionTV</a>.</p>
        <p>And if you're a budding wildlife film maker or presenter, please do <a href="mailto:editor@@wildvision.tv">get in touch</a> as we'd love to showcase your work here.</p>
        <p>There is no company set up for this website, it is individually owned and managed by <a target="_blank" title="About Paul" href="https://about.me/paulbrown1982">Paul Brown</a>, a web developer, and <a target="_blank" title="About Jamie" href="https://about.me/jamie.wyver">Jamie Wyver</a>, a conservationist.</p>
        <p>It is currently under development, so there is no registration process yet and the current set of presenters are associates of Paul and Jamie. If you wish to be listed as a presenter, please email <a href="mailto:editor@@wildvision.tv">editor@@wildvision.tv</a>.</p>
        <p>Unless otherwise stated, Paul and Jamie assert full copyright of any data, code, text or binary assets delivered from the Wildvision.tv domain name, content delivery network and host IP address.</p>
        <div class="badges">
            <h2>Follow Wildvision.tv</h2>
            <p>
                <a href="https://twitter.com/WildvisionTV" class="twitter-follow-button" data-show-count="true" data-show-screen-name="true" data-lang="en">Follow @@WildvisionTV</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </p>
            <p>
                <a href="https://www.facebook.com/wildv.tv" target="_blank" title="Wildvision.tv">
                <img src="https://badge.facebook.com/badge/310119982452871.1030.1834001012.png" />
                </a>
            </p>
            <p>
                <script src="https://apis.google.com/js/plusone.js"></script>
                <g:page href="https://plus.google.com/+WildvisionTv"></g:page>
            </p>
        </div>
    </article>
}