@import views.PresenterView
@import views.Formatters.{formatPublishedDate, toHtml}

@(presenterView: PresenterView)

@main(s"Wildvision.tv Presenter: ${presenterView.presenter.name}", "", "presenter", presenterView.entityId) {
    <presenter id="presenter-@presenterView.presenter.presenter_id">
        <div class="presenter-image"><img src="@presenterView.presenter.picture_url"/></div>
        <p class="presenter-bio">@toHtml(presenterView.presenter.bio)</p>
        <div class="presenter-portfolo">
            <h3>Films by @presenterView.presenter.name (@presenterView.films.length)</h3>
            @fragments.presenterFilms(presenterView.films)
        </div>
    </presenter>
}