@()
@main("Your privacy", "", "privacy") {
    <p>This website currently does not have a public login facility. Its Wildvision.tv Backstage area is reserved for private associates. Therefore it does not seek to identify public visitors.</p>
    <p>The site strictly limits the use of cookies. Please visit our <a href="@routes.Wildvision.cookies().url" title="Cookies">Cookies</a>
        page for more information, or to opt out.</p>
    <p>However, the owner of the website may choose to use the data provided by you within any <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_HTTP_header_fields">
        HTTP headers</a>
        that this website receives from your requests. The owner will not share your IP address with any other organisation, other than this website's <a target="_blank" href="https://www.ukhost4u.com">
            hosting provider</a> or law enforcement agencies.</p>
    <p>Please note that this website does include HTML5 and <a target="_blank" href="https://en.wikipedia.org/wiki/Adobe_Flash">
        Adobe Flash-based</a> videos from
        <a target="_blank" href="https://www.google.com/intl/en/policies/privacy/">YouTube.com</a> and
        <a target="_blank" href="https://vimeo.com/privacy">Vimeo.com</a>, as well as sharing badges from
        <a target="_blank" href="http://www.sharethis.com/pri.html">ShareThis</a> and thus:
        <a target="_blank" href="https://www.google.com/intl/en_uk/policies/">Google Plus</a>,
        <a target="_blank" href="https://www.facebook.com/about/privacy/">Facebook</a> and
        <a target="_blank" href="https://twitter.com/privacy">Twitter</a>.</p>
    <p>Please refer to those sites' policies for more information.</p>
}